<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc99f8">  <td>20/07/29 22:15:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Common.beforeMethod()[pri:0, instance:unit.Common@45c7e403]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1730704097</td>   <td></td> </tr>
<tr bgcolor="bc99f8">  <td>20/07/29 22:15:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Common.common_validate_1()[pri:1, instance:unit.Common@45c7e403]">common_validate_1</td> 
  <td>main@1730704097</td>   <td></td> </tr>
<tr bgcolor="bc99f8">  <td>20/07/29 22:15:21</td>   <td>-214</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Common.setUp()[pri:0, instance:unit.Common@45c7e403]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730704097</td>   <td></td> </tr>
<tr bgcolor="6abc94">  <td>20/07/29 22:15:22</td>   <td>85</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:unit.Common@45c7e403]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730704097</td>   <td></td> </tr>
<tr bgcolor="6abc94">  <td>20/07/29 22:15:22</td>   <td>83</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:unit.Common@45c7e403]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@1730704097</td>   <td></td> </tr>
<tr bgcolor="6abc94">  <td>20/07/29 22:15:19</td>   <td>-2907</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:unit.Common@45c7e403]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730704097</td>   <td></td> </tr>
<tr bgcolor="6abc94">  <td>20/07/29 22:15:21</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:unit.Common@45c7e403]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@1730704097</td>   <td></td> </tr>
<tr bgcolor="6abc94">  <td>20/07/29 22:15:19</td>   <td>-2904</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:unit.Common@45c7e403]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730704097</td>   <td></td> </tr>
</table>
