<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>selenium.SignIn</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Login_6</td>
<td>Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Login_7</td>
<td>Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Login_100</td>
<td>Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Login_1</td>
<td>Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Login_2</td>
<td>Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Login_3</td>
<td>Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Login_4</td>
<td>Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Login_5</td>
<td>Login </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>unit.Common</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_25</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_21</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_22</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_findBy_type_31</td>
<td>list common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_update_exists_33</td>
<td>Update Common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_23</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_24</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_20</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_9</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_6</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_5</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_8</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_7</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_18</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_19</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_14</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_findBy_typeOrkind_32</td>
<td>list Common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_15</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_16</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_17</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_2</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_10</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_create_26</td>
<td>create common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_1</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_11</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_delete_28</td>
<td>delete common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_4</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_12</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_delete_27</td>
<td>delete common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_3</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_13</td>
<td>common validate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_findBy_id_30</td>
<td>list common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_list_29</td>
<td>list common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_update_not_exists_34</td>
<td>Update Common </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>unit.SignUp</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>user_validate_1</td>
<td>user validate </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>selenium.Common</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_update_22</td>
<td>update common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_update_23</td>
<td>update common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_update_21</td>
<td>update common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_delete_19</td>
<td>delete common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_9</td>
<td>Title </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_delete_20</td>
<td>delete common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_6</td>
<td>Author </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_5</td>
<td>Author </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_8</td>
<td>Author </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_7</td>
<td>Author </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_18</td>
<td>selection </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_14</td>
<td>Content </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_15</td>
<td>Content </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_16</td>
<td>Content </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_17</td>
<td>selection </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_2</td>
<td>Content </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_10</td>
<td>Title </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_1</td>
<td>All-Empty </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_11</td>
<td>Title </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_4</td>
<td>Author </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_12</td>
<td>Title </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_3</td>
<td>Content </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_validate_13</td>
<td>Title </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_list_24</td>
<td>list common </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_list_25</td>
<td>layout list </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_list_26</td>
<td>layout list </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_list_27</td>
<td>layout list </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_list_28</td>
<td>layout list </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>common_list_29</td>
<td>layout list </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>selenium.User</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>UserList</td>
<td>List User </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ListUser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
